body {
    background-color: #393939;
    color: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px;
    font-family: "Calibri", serif
}

img {
    image-rendering: pixelated;
}

.grayscale {
    filter: grayscale(1);
}

.world_sort_tab {
    user-select: none;
    cursor: pointer;
}

td {
    padding: 0 5px;
}